.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 150px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  text-decoration: underline;
  font-weight: bold;
}

.content {
  font-style: italic;
}

.execute {
  padding: 10px 60px;
  background-color: #ccc;
  color: blue;
}
