*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  padding: 10px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.title {
  text-transform: uppercase;
  color: rgb(255, 98, 0);
  border: 4px double rgb(11, 231, 11);
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
}
img {
  object-fit: cover;
}
.wrapper1 {
  display: flex;
  justify-content: space-between;
}

.wrapper2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.img2 {
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin-right: 30px;
}

.title2 {
  font-size: 30px;
  background-color: rgb(11, 231, 11);
  color: white;
  font-weight: bold;
  text-align: end;
  margin-top: 20px;
}
.wrapper3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.comment__content {
  text-align: justify;
}
.comment__img {
  max-width: 110px;
  width: 100%;
  object-fit: cover;
  height: 130px;
}
.comment1 {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  border-bottom: 2px solid red;
}
.comment1:last-child {
  border: 0;
}
